

<section id="atf">
<h1>Happy<br>
Birthday</h1>
</section>
<div class="divider">
  <%= image_tag ("cupcake.png") %>
</div>
<section id="introduction">
  <div class="half">
    <h2>In case you forgot</h2>
    <p>It's your birthday. A little trick I like to use is adding 6 days to my birthday; I would recommend this so you don't forget in the future. Originally, I made you an e-card of your face super imposed on Cyndi Lauper's body singing "Girls Just to Have Fun" but I realized that while I love that (and it's definitely my magnum opus) you would hate it. And so, I made you this website.</p>
  </div>
  <div class="half">
    <h2>What you can expect</h2>
    <p>I put together some of my favorite dad memories with very little photos. The world was not quite as digital back when I was a child. Also, you are not super great about taking a lot of photos. If this doesn't live up to your expectations, please remember that the other option was Cyndi Lauper. Without further ado, scroll for a timeline of Dad as I, your loving daughter, think that it occurred.</p>
  </div>
</section>
<div class="divider">
  <%= image_tag ("sprinkles.png") %>
</div>
<section class="timeline">
  <div id="KMB" style="height: 5000px;">
    <div class="factoid">
      <h2>1971</h2>
      <p>you were born this year,<br>mom confirmed it</p>
    </div>
    <div class="factoid" style="margin-top: 500px;">
      <h2>JSH</h2>
      <p>You meet your future wife at school but she is younger than you and that's pretty lame.</p>
    </div>
     <div class="factoid" style="margin-top: 300px;">
      <h2>Laser Guns</h2>
      <p>Around this time, you were playing laser tag in a park in Decatur and the cops were called. You don't know it yet, but some day this will be one of the few memories from your childhood your daughter remembers.</p>
    </div>
    <div class="factoid" style="margin-top: 400px;">
      <h2>The Boring Years</h2>
      <p>It seems like your life is missing something, but you can't quite put your finger on it yet.</p>
    </div>
    <div class="factoid" style="margin-top: 500px;">
      <h2>1992</h2>
      <p>You become the best dad in the whole 🌎. You realize what your life needed, a small but witty child. You name her Kaitlyn.</p>
    </div>
    <div class="factoid" style="margin-top: 100px;">
      <h2>The Cool Years</h2>
      <p>and so the cool times commence. Life is perfect, you enjoy lounging around with baby Kaitlyn.</p>
    </div>
     <div class="factoid" style="margin-top: 100px;">
      <h2>1994</h2>
      <p>Jacob is born. Mostly serving as a friend for the original child, Jacob is a beautiful chubby baby with blonde hair who cries a ton because his ears hurt.</p>
    </div>
    <div class="factoid" style="margin-top: 100px;">
      <h2>"Play the Solo Kaitlyn"</h2>
      <p>When she is still small, you teach Kaitlyn to love music. She can fake shred a guitar with the best of them, she loves watching you practice and listening to music together. Her and Jacob sneak down the back stairway of Herald Circle when they think you don't notice to watch the you play guitar.</p>
    </div>
    <div class="factoid" style="margin-top: 300px;">
      <h2>Cheese Toasties</h2>
      <p>You make Kaitlyn the best Cheese Toastie she has ever had, much to mom's chagrin who says it's only because I'm use to her making them.</p>
    </div>
    <div class="factoid" style="margin-top: 200px;">
      <h2>Speed</h2>
      <p>You and Kaitlyn spend hours together playing the card game 'speed'. One day, on Mitchell Dr., Kaitlyn wins fair and square. She jumps up and runs around the house yelling that she won while you laugh.</p>
    </div>
    <div class="factoid" style="margin-top: 400px;">
      <h2>Kayaking</h2>
      <p>You and Kaitlyn go on the first of many kayaking trips together. Kaitlyn loves being with you on the water, and feels more calm than her angsty teenage brain thought was possible. One on of these trips, all of the food falls into the water, you zoom around like some sort of white water rafter and salvage enough for the family to have lunch.</p>
    </div>
    <div class="factoid" style="margin-top: 200px;">
      <h2>Moving on Up</h2>
      <p>You help Kaitlyn move into her first apartment but she keeps coming back to the house all the time.</p>
    </div>
       <div class="factoid" style="margin-top: 300px;">
      <h2>Vacations</h2>
      <p>You can't seem to shake Kaitlyn regardless of how far away you are, she manages to accomplish 6 West Coast trips in one year (and I'm not sure she paid for a single one).</p>
    </div>
    <div class="factoid" style="margin-top: 100px;">
      <h2>Now</h2>
      <b><p>You and Kaitlyn are closer than ever, you are both older than ever, and life is great.<br><br> Happy Birthday Dad, I love you. </p></b>
    </div>
  </div>
</section>
<div class="divider">
  <%= image_tag("balloon.png")  %>

</div>
<section id="photo">
  <div class="line"></div>
  <%= image_tag("photo.jpg",:style => "width: 100%;")  %>
  <div class="line"></div>
</section>

<section id="gift">
  <h2>Track Your Gift</h2>
  <a class="button" href="https://www.jibjab.com/view/make/girls_just_wanna_have_fun_birthday/9b30e375-eb17-4821-b9f8-a4d5efd4d1f6"  target= "_blank">check it out</a></div>
</section>
